<?xml version="1.0"?>
<ruleset name="Kjeks Scripting">
	<description>Coding standards for the Kjeks Scripting add-on.</description>

	<file>.</file>

	<exclude-pattern>/vendor/*</exclude-pattern>
	<exclude-pattern>/node_modules/*</exclude-pattern>

	<arg name="extensions" value="php"/>
	<arg name="basepath" value="."/>
	<arg name="colors"/>
	<arg value="sp"/>
	<arg name="parallel" value="8"/>

	<rule ref="WordPress">
		<exclude name="WordPress.Files.FileName"/>
		<!-- Redundant with strict_types and fully typed signatures. -->
		<exclude name="Squiz.Commenting.FunctionComment"/>
		<exclude name="Squiz.Commenting.VariableComment"/>
		<exclude name="Generic.Commenting.DocComment.MissingShort"/>
	</rule>

	<config name="minimum_wp_version" value="6.8"/>
	<config name="testVersion" value="8.3-"/>

	<rule ref="WordPress.WP.I18n">
		<properties>
			<property name="text_domain" type="array">
				<element value="kjeks-scripting"/>
			</property>
		</properties>
	</rule>

	<rule ref="WordPress.NamingConventions.PrefixAllGlobals">
		<properties>
			<property name="prefixes" type="array">
				<element value="kjeks_scripting"/>
				<element value="KJEKS_SCRIPTING"/>
				<element value="Soderlind\KjeksScripting"/>
			</property>
		</properties>
	</rule>
</ruleset>
